force-app/main/default/flows/Aggregate_POC_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_HW</name>
        <label>Assign HW</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>hardware</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_HW.Price_Rev_Sold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_HW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MS</name>
        <label>Assign MS</label>
        <locationX>264</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>msAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_MS.Price_Rev_Sold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_MS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MT_Amount</name>
        <label>Assign MT Amount</label>
        <locationX>264</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MTamount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_MT.Price_Rev_Sold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_MT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>264</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>pafRev</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Tasks.Price_Rev_Sold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>HW</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>HW</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_HW</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Tasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_HW.Revenue_Group_Formula__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>HW</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>MT</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>MS</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>MS</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNextValueToReference>currentItem_MS</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Tasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_MS.Revenue_Group_Formula__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>MS</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>MT</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>MT</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_MT</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Tasks</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_MT.Revenue_Group_Formula__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>MT-SW</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_MT.Revenue_Group_Formula__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>MT-HW</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>MS</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>PAF</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>PAF</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_PAF</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Tasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_PAF.Revenue_Group_Formula__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>AC</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>HW</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>aggregatePOC</name>
        <dataType>Number</dataType>
        <expression>{!percentSUM} / {!count}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Aggregate POC Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggregate POC Rollup</label>
    <loops>
        <name>Loop_Through_HW</name>
        <label>Loop Through HW</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <collectionReference>HW</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_HW</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_MT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_MS</name>
        <label>Loop Through MS</label>
        <locationX>176</locationX>
        <locationY>1763</locationY>
        <collectionReference>MS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_MS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Aggregate_POC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_MT</name>
        <label>Loop Through MT</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <collectionReference>MT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_MT_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_MS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <collectionReference>PAF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_HW</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Tasks</name>
        <label>Get Project Tasks</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PAF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_CASESAFEID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Aggregate_POC</name>
        <label>Set Aggregate POC</label>
        <locationX>176</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>HW_Revenue__c</field>
            <value>
                <elementReference>hardware</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Revenue__c</field>
            <value>
                <elementReference>msAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MT_Revenue__c</field>
            <value>
                <elementReference>MTamount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAF_AC_SKU_Revenue__c</field>
            <value>
                <elementReference>pafRev</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Tasks</targetReference>
        </connector>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_HW</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>currentItem_MS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>currentItem_MT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>currentItem_PAF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>hardware</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>msAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MTamount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>pafRev</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>percentSUM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
