force-app/main/default/flows/CC_Daily_Assignment_Scheduled_EvA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_Existing_Record</name>
        <label>Check for Existing Record</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Link_Rev_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Rev_Rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rev_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Rev_Rec</targetReference>
            </connector>
            <label>No Rev Rec</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CC: Daily Assignment - Scheduled EvA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Daily Assignment - Scheduled EvA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Rev_Rec</name>
        <label>Create Rev Rec</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Link_Rev_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>$Record.project_cloud__Hours_Assigned__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Amount__c</field>
            <value>
                <numberValue>1.0E-4</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Date__c</field>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Project__c</field>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__Resource_Summary__r.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Type__c</field>
            <value>
                <stringValue>Recognized</stringValue>
            </value>
        </inputAssignments>
        <object>project_cloud__Revenue_Recognition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Rev_Rec</name>
        <label>Get Rev Rec</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__Resource_Summary__r.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Revenue_Recognition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Link_Rev_Rec</name>
        <label>Link Rev Rec</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Set_Assigned_Hours</targetReference>
        </connector>
        <inputAssignments>
            <field>Revenue_Recognition__c</field>
            <value>
                <elementReference>Get_Rev_Rec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Link_Rev_Rec</name>
        <label>Link Rev Rec</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Revenue_Recognition__c</field>
            <value>
                <elementReference>Create_Rev_Rec</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Assigned_Hours</name>
        <label>Set Assigned Hours</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rev_Rec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>$Record.project_cloud__Hours_Assigned__c</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Revenue_Recognition__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Rev_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Revenue_Recognition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__IsWorking_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Resource_Assignment_Daily__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-10</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
