force-app/main/default/flows/CC_Daily_Assignment_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_Record</name>
        <label>Check for Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Link_to_Rev_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Rev_Rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rev_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Rev_Rec</targetReference>
            </connector>
            <label>No Rev Rec</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CC: Daily Assignment Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Daily Assignment Link to Rev Rec</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Rev_Rec</name>
        <label>Create Rev Rec</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Link_to_Daily_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>$Record.project_cloud__Hours_Assigned__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Amount__c</field>
            <value>
                <numberValue>1.0E-4</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Date__c</field>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Project__c</field>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__Resource_Summary__r.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Revenue_Recognition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Rev_Rec</name>
        <label>Get Rev Rec</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__Resource_Summary__r.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Revenue_Recognition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_to_Daily_Assignment</name>
        <label>Link to Daily Assignment</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Revenue_Recognition__c</field>
            <value>
                <elementReference>Create_Rev_Rec</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Link_to_Rev_Rec</name>
        <label>Link to Rev Rec</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Rev_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>Revenue_Recognition__c</field>
            <value>
                <elementReference>Get_Rev_Rec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rev_Rec</name>
        <label>Update Rev Rec</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__Resource_Summary__r.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>$Record.project_cloud__Hours_Assigned__c</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Revenue_Recognition__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Rev_Rec</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Revenue_Recognition__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Hours_Assigned__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Resource_Assignment_Daily__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
