force-app/main/default/flows/CC_Opportunity_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Phase_Collection</name>
        <label>Add to Phase Collection</label>
        <locationX>402</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>phaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>phaseSobject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hours</name>
        <label>Assign Hours</label>
        <locationX>138</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>COREHOURS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Products.LOE_Core_MH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CONTINGENCYHOURS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Products.LOE_Contigency_MH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculatedCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phase_Sobject</name>
        <label>Assign Phase Sobject</label>
        <locationX>402</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>phaseSobject.project_cloud__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phaseSobject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phaseNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>familyNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>phaseNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COREHOURS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Products.LOE_Core_MH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CONTINGENCYHOURS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Products.LOE_Contigency_MH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculatedCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Phase_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Project_Lookup</name>
        <label>Check Project Lookup</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Lookup_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Project_Status_to_Cancelled</targetReference>
            </connector>
            <label>Project Lookup is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Skip</name>
        <label>Create or Skip</label>
        <locationX>270</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>Assign_Phase_Sobject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Don_t_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>familyNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Products.Revenue_Group__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>familyNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Products.Product_Family_Formula__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hours</targetReference>
            </connector>
            <label>Don&apos;t Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Late_Stage_Opportunity_Field_Check</name>
        <label>Late Stage Opportunity Field Check</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Lookup_is_Null_and_Budgeted_Amt_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Professional_Services_Total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project</targetReference>
            </connector>
            <label>Project Lookup is Null and Budgeted Amt &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Happened</name>
        <label>What Happened?</label>
        <locationX>644</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Is_in_Later_Stages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Late_Stage_Opportunity_Field_Check</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Opportunity Is in Later Stages</label>
        </rules>
        <rules>
            <name>Opp_is_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Project_Lookup</targetReference>
            </connector>
            <label>Opp is Closed/Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculatedCost</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Through_Products.Cost_Unit_MD__c} * ({!currentItemFromSourceCollection.LOE_Core_MH__c} + {!currentItemFromSourceCollection.LOE_Contigency_MH__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>phaseNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
{!Loop_Through_Products.Revenue_Group__c} = &quot;MT-SW&quot; || {!Loop_Through_Products.Revenue_Group__c} = &quot;MT-HW&quot;, &quot;Maintenance&quot;,
IF(
{!Loop_Through_Products.Revenue_Group__c} = &quot;MS&quot;, &quot;Managed Services&quot;,
{!Loop_Through_Products.Product_Family_Text__c} ))</expression>
    </formulas>
    <formulas>
        <name>projectName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos;Project&apos;</expression>
    </formulas>
    <formulas>
        <name>totalLOE</name>
        <dataType>Number</dataType>
        <expression>{!CONTINGENCYHOURS} + {!CONTINGENCYHOURS}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalSold</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Professional_Services_Total__c} + {!$Record.Annual_SW_Maintenance_Total__c} + {!$Record.X3rd_Party_Fees_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CC: Opportunity - After - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Opportunity - After - Create/Update</label>
    <loops>
        <name>Loop_Through_Products</name>
        <label>Loop Through Products</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_or_Skip</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Phases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Phases</name>
        <label>Create Phases</label>
        <locationX>50</locationX>
        <locationY>1740</locationY>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
        <inputReference>phaseCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Set_Project_Lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>projectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccpe_ocp__Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccpe_ocp__Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>50</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Revenue_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Project_Lookup</name>
        <label>Set Project Lookup on Opp</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Set_Project_Lookup_on_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Project_Lookup_on_Order</name>
        <label>Set Project Lookup on Order</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Set_Project_on_LOE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Project_Lookup_on_Product</name>
        <label>Set Project Lookup on Product</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Set_Project_Lookup_on_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Project_on_LOE</name>
        <label>Set Project on LOE</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Level_of_Effort_Estimate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Project_Status_to_Cancelled</name>
        <label>Set Project Status to Cancelled</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Custom__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Trigger_Phase_Lookup</name>
        <label>Trigger Phase Lookup</label>
        <locationX>1370</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>50</locationX>
        <locationY>1848</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Budgeted_Amount__c</field>
            <value>
                <elementReference>totalSold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contingency_MH__c</field>
            <value>
                <elementReference>CONTINGENCYHOURS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_MH__c</field>
            <value>
                <elementReference>COREHOURS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOE_Cost_Sold__c</field>
            <value>
                <elementReference>calculatedCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_LOE_MH_Sold__c</field>
            <value>
                <elementReference>totalLOE</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Happened</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path</name>
            <connector>
                <targetReference>Trigger_Phase_Lookup</targetReference>
            </connector>
            <label>Scheduled Path</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CONTINGENCYHOURS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>COREHOURS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Phase__c</objectType>
    </variables>
    <variables>
        <name>familyNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Phase__c</objectType>
    </variables>
    <variables>
        <name>phaseSobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Phase__c</objectType>
    </variables>
</Flow>
