force-app/main/default/flows/CC_Project_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_of_New_Members</name>
        <label>Send Email Alert of New Members</label>
        <locationX>1106</locationX>
        <locationY>1979</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>AllStakeholdersEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewProjectMembersAlertSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewProjectMembersAlertBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Emails_to_Collection</name>
        <label>Assign Emails to Collection</label>
        <locationX>1326</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>AllStakeholdersEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_Stakeholders.project_cloud__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Stakeholders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_ExistingStakeholderUserIds</name>
        <label>Assign to ExistingStakeholderUserIds</label>
        <locationX>1326</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ExistingStakeholderUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Existing_Stakeholders.project_cloud__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_Stakeholders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_StakeholderVar</name>
        <label>Assign to StakeholderVar</label>
        <locationX>1326</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>StakeholderVar.project_cloud__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_New_Stakeholders_to_Create.project_cloud__User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StakeholderVar.project_cloud__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_StakeholderVarCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_StakeholderVarCollection</name>
        <label>Assign to StakeholderVarCollection</label>
        <locationX>1326</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>StakeholderVarCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StakeholderVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_New_Stakeholders_to_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Stakeholders</name>
        <label>Check Stakeholders</label>
        <locationX>1238</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stakeholders_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllStakeholdersEmailCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_of_New_Members</targetReference>
            </connector>
            <label>Stakeholders Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_has_PS_Pod</name>
        <label>Opportunity has PS Pod?</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Opportunity_has_a_PS_Pod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ccpe_ocp__Opportunity__r.PS_Pod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Work_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>True, Opportunity has a PS Pod</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Happened</name>
        <label>What Happened?</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Set_Account_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ccpe_ocp__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ccpe_ocp__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ccpe_ocp__Opportunity__r.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-12-21</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Lookup</targetReference>
            </connector>
            <label>Opportunity Set &amp; Account = Null</label>
        </rules>
        <rules>
            <name>Opportunity_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ccpe_ocp__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Fields_based_on_Opportunity</targetReference>
            </connector>
            <label>Opportunity Set</label>
        </rules>
        <rules>
            <name>Long_Rich_Text_Fields_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lessons_Learned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Progress_Since_Last_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Scope_Summary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Upcoming_Activities__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cloud_Coach_Project_Updated</targetReference>
            </connector>
            <label>Long/Rich Text Fields Updated</label>
        </rules>
        <rules>
            <name>PS_Pod_Field_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Stakeholders</targetReference>
            </connector>
            <label>PS Pod Field Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CC: Project - After - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Project - After - Create/Update</label>
    <loops>
        <name>Loop_through_all_Stakeholders</name>
        <label>Loop through all Stakeholders</label>
        <locationX>1238</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_All_Stakeholders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Emails_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Stakeholders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Existing_Stakeholders</name>
        <label>Loop Through Existing Stakeholders</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Existing_Stakeholders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_ExistingStakeholderUserIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Relevant_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_New_Stakeholders_to_Create</name>
        <label>Loop through New Stakeholders to Create</label>
        <locationX>1238</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Relevant_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_StakeholderVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Stakeholders_from_StakeholderVarCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Stakeholders_from_StakeholderVarCollection</name>
        <label>Create Stakeholders from StakeholderVarCollection</label>
        <locationX>1238</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Get_All_Stakeholders</targetReference>
        </connector>
        <inputReference>StakeholderVarCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Stakeholders</name>
        <label>Get All Stakeholders</label>
        <locationX>1238</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Stakeholders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Stakeholder_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Stakeholders</name>
        <label>Get Existing Stakeholders</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Existing_Stakeholders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Stakeholder_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Work_Type</name>
        <label>Get Related Work Type</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_has_PS_Pod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ccpe_ocp__Opportunity__r.PS_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Work_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_Users</name>
        <label>Get Relevant Users via Capabilities</label>
        <locationX>1238</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_New_Stakeholders_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__User__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ExistingStakeholderUserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Capability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cloud_Coach_Project_Updated</name>
        <label>Cloud Coach Project Updated</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccpe_ocp__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lessons_Learned__c</field>
            <value>
                <elementReference>$Record.Lessons_Learned__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Since_Last_Status__c</field>
            <value>
                <elementReference>$Record.Progress_Since_Last_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_Summary__c</field>
            <value>
                <elementReference>$Record.Scope_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upcoming_Activities__c</field>
            <value>
                <elementReference>$Record.Upcoming_Activities__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccpe_ocp__Cloudcoach_Project1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Lookup</name>
        <label>Update Account Lookup</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ccpe_ocp__Account__c</field>
            <value>
                <elementReference>$Record.ccpe_ocp__Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Fields_based_on_Opportunity</name>
        <label>Update Currency Fields</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Related_Work_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Budgeted_Amount__c</field>
            <value>
                <elementReference>$Record.ccpe_ocp__Opportunity__r.Professional_Services_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Fee__c</field>
            <value>
                <elementReference>$Record.ccpe_ocp__Opportunity__r.TITAN_SW_License_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Happened</targetReference>
        </connector>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>NewProjectMembersAlertBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;New members have been added to the project from the POD &quot;{!$Record.Pod__r.Name}&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewProjectMembersAlertSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Members have been added to {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>AllStakeholdersEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingStakeholderUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StakeholderVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Stakeholder_Contact__c</objectType>
    </variables>
    <variables>
        <name>StakeholderVarCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Stakeholder_Contact__c</objectType>
    </variables>
</Flow>
