force-app/main/default/flows/CC_Resource_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Set_Update_or_Ignore</name>
        <label>Set, Update, or Ignore</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Capability_Located</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Existing_Capability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Capability</targetReference>
            </connector>
            <label>No Capability Located</label>
        </rules>
        <rules>
            <name>Found_Capability_not_primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Existing_Capability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_for_Existing_Capability.project_cloud__IsPrimary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Capability</targetReference>
            </connector>
            <label>Found Capability - not primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Happened</name>
        <label>What Happened?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Work_Type_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Type_Primary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_Existing_Capability</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Primary Work Type Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CC: Resource - After - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Resource - After - Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Capability</name>
        <label>Create Capability</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>project_cloud__IsPrimary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__User__c</field>
            <value>
                <elementReference>$Record.project_cloud__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Work_Type__c</field>
            <value>
                <elementReference>$Record.Work_Type_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Capability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Look_for_Existing_Capability</name>
        <label>Look for Existing Capability</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Update_or_Ignore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Type_Primary__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Capability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Capability</name>
        <label>Update Capability</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_for_Existing_Capability.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>project_cloud__IsPrimary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>project_cloud__Capability__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Happened</targetReference>
        </connector>
        <object>project_cloud__Resource__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
