force-app/main/default/flows/CC_Revenue_Recognition_Rollups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Actual_Hours</name>
        <label>Assign Actual Hours</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>actualHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Work.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billable_Hours</name>
        <label>Assign Billable Hours</label>
        <locationX>264</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>billableHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Billable_Hours.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Billable_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hours</name>
        <label>Assign Hours</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>estimatedHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Rev_Rec.project_cloud__Hours_Assigned__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Rev_Rec</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Billable_Hours</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Billable Hours</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <assignNextValueToReference>currentItem_Billable_Hours</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Work</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Billable_Hours.ccpe_r__Utilization_Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Billable</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Billable_Hours</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>CC: Revenue Recognition - Rollups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Revenue Recognition - Rollups</label>
    <loops>
        <name>Loop_Through_Billable_Hours</name>
        <label>Loop Through Billable Hours</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <collectionReference>Billable_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Billable_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Rev_Rec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Rev_Rec</name>
        <label>Loop Through Rev Rec</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Estimated_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Work</name>
        <label>Loop Through Work</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Work</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Actual_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Billable_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Estimated_Hours</name>
        <label>Get Estimated Hours</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Rev_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Revenue_Recognition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__IsWorking_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Excluded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Hours_Assigned__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Hours_Assigned__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Resource_Assignment_Daily__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work</name>
        <label>Get Work</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Revenue_Recognition_CCPE_Ignore__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Rev_Rec</name>
        <label>Update Rev Rec</label>
        <locationX>176</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>Actual_Hours__c</field>
            <value>
                <elementReference>actualHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billable_Hours__c</field>
            <value>
                <elementReference>billableHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>estimatedHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Estimated_Hours</targetReference>
        </connector>
        <object>project_cloud__Revenue_Recognition__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>actualHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>billableHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Billable_Hours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Work__c</objectType>
    </variables>
    <variables>
        <name>estimatedHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
