force-app/main/default/flows/CC_Retrigger_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Billable_Hours</name>
        <label>Assign Billable Hours</label>
        <locationX>440</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>nonbillableHoursTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Billable_Hours.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Billable_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hours</name>
        <label>Assign Hours</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>hoursMonth</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Hours.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Hours</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CC: Retrigger Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Retrigger Rollup</label>
    <loops>
        <name>Loop_Through_Billable_Hours</name>
        <label>Loop Through Billable Hours</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <collectionReference>Copy_1_of_Get_Work</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Billable_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Hours</name>
        <label>Loop Through Hours</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Work</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Get_Work</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Work</name>
        <label>Copy 1 of Get Work</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Billable_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__Utilization_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Resource_Assignment_Daily_CCPE_Ignore__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work</name>
        <label>Get Work</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Project_CCPE_Ignore__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment__r.project_cloud__Resource_Summary__r.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Total_Hours</name>
        <label>Total Hours</label>
        <locationX>352</locationX>
        <locationY>1092</locationY>
        <inputAssignments>
            <field>Non_Billable_Hours__c</field>
            <value>
                <elementReference>nonbillableHoursTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Hours_Worked__c</field>
            <value>
                <elementReference>hoursMonth</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recalculate_Date_Time__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Resource_Assignment_Daily__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Work</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Billable_Hours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Work__c</objectType>
    </variables>
    <variables>
        <name>hoursMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nonbillableHoursTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
