force-app/main/default/flows/CC_Screen_Recalculate_Forecasts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Records</name>
        <label>Assign Records</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RDA1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Entries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_sObject</name>
        <label>Assign to sObject</label>
        <locationX>550</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Entries.Recalculate_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Batch_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Records</name>
        <label>Assign Records</label>
        <locationX>704</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RDA2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Entries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Entries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Batch_Data</name>
        <label>Batch Data</label>
        <locationX>550</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Batch_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Batch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Records</targetReference>
            </connector>
            <label>First Batch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_RDA_1</targetReference>
            </connector>
            <label>Count</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CC: Screen - Recalculate Forecasts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Screen - Recalculate Forecasts</label>
    <loops>
        <name>Loop_Through_Entries</name>
        <label>Loop Through Entries</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_sObject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Submit_RDA_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Records_1</name>
        <label>Copy 1 of Get Records 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recalculate_Forecasts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Resource_Assignment_Daily__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Forecast_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Forecast_End_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Resource_Assignment_Daily__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Batch_1</name>
        <label>Batch 1</label>
        <locationX>704</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Records</targetReference>
        </connector>
        <fields>
            <name>Instructions1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Press &apos;Next&apos; to submit second data batch&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recalculate_Forecasts</name>
        <label>Recalculate Forecasts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Records_1</targetReference>
        </connector>
        <fields>
            <name>Recalculate_Forecasts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Recalculate_Forecasts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Recalculate_Forecasts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Instructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Recalculate % Complete Forecasts&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Recalculate_Forecasts_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Recalculate_Forecasts_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Recalculate_Forecasts_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Forecast Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Recalculate_Forecasts_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Forecast End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Recalculate Forecast</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Records_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Copy_1_of_Submit_RDA_1</name>
        <label>Submit RDA 2</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <flowName>CC_Resource_Daily_Assignment_Batch</flowName>
        <inputAssignments>
            <name>RDAcollection</name>
            <value>
                <elementReference>RDA2</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Submit_RDA_1</name>
        <label>Submit RDA 1</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_Through_Entries</targetReference>
        </connector>
        <flowName>CC_Resource_Daily_Assignment_Batch</flowName>
        <inputAssignments>
            <name>RDAcollection</name>
            <value>
                <elementReference>RDA1</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>loopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RDA1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>project_cloud__Resource_Assignment_Daily__c</objectType>
    </variables>
    <variables>
        <name>RDA2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>project_cloud__Resource_Assignment_Daily__c</objectType>
    </variables>
    <variables>
        <name>RDAsObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Resource_Assignment_Daily__c</objectType>
    </variables>
</Flow>
