force-app/main/default/flows/CC_Scheduled_Non_Billable_Rollups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Hours</name>
        <label>Assign Hours</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>nonBillableHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Hours.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Hours</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CC: Scheduled - Non Billable Rollups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Scheduled - Non Billable Rollups</label>
    <loops>
        <name>Loop_Through_Hours</name>
        <label>Loop Through Hours</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_All_Non_Billable_Time</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Non_Billable_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Non_Billable_Time</name>
        <label>Get All Non Billable Time</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Hours</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>project_cloud__Resource_Assignment_Daily_CCPE_Ignore__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment_Daily_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__Utilization_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Billable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Non_Billable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__Utilization_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unutilized</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Non_Billable_Hours</name>
        <label>Update Non Billable Hours</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Resource_Assignment_Daily_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Non_Billable_Hours__c</field>
            <value>
                <elementReference>nonBillableHours</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Resource_Assignment_Daily__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Non_Billable_Time</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>project_cloud__Resource_Assignment_Daily_CCPE_Ignore__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__Utilization_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Billable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Non_Billable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Work__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-14</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>nonBillableHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
