force-app/main/default/flows/CC_Ticket_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>What_Happened</name>
        <label>What Happened?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Status_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Active</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Status Report</label>
        </rules>
        <rules>
            <name>Active_Status_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_Status_Report__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Project_Fields</targetReference>
            </connector>
            <label>Active Status Edited</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CC: Ticket - After - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Ticket - After - Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Project_Fields</name>
        <label>Update Project Fields</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Progress_Since_Last_Status__c</field>
            <value>
                <elementReference>$Record.Progress_Since_Last_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upcoming_Activities__c</field>
            <value>
                <elementReference>$Record.Upcoming_Activities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Customer_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Customer_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Customer_Health2__c</field>
            <value>
                <elementReference>$Record.Customer_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Financial_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Financial_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Financial_Health2__c</field>
            <value>
                <elementReference>$Record.Financial_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Health_Reason__c</field>
            <value>
                <elementReference>$Record.Overall_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Health__c</field>
            <value>
                <elementReference>$Record.Overall_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Resources_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Resource_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Resources_Health2__c</field>
            <value>
                <elementReference>$Record.Resource_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Scope_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Scope_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Scope_Health2__c</field>
            <value>
                <elementReference>$Record.Scope_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Timeline_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Timeline_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Timeline_Health2__c</field>
            <value>
                <elementReference>$Record.Timeline_Health__c</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Previous_Status_Report</name>
        <label>Deactivate Previous Status Report</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Project_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Status_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Project_CCPE_Ignore__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Status_Report__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>project_cloud__Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Active</name>
        <label>Set to Active</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Deactivate_Previous_Status_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_Status_Report__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__IsComplete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Fields</name>
        <label>Update Project Fields</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Status_Report_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Since_Last_Status__c</field>
            <value>
                <elementReference>$Record.Progress_Since_Last_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upcoming_Activities__c</field>
            <value>
                <elementReference>$Record.Upcoming_Activities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Customer_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Customer_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Customer_Health2__c</field>
            <value>
                <elementReference>$Record.Customer_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Financial_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Financial_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Financial_Health2__c</field>
            <value>
                <elementReference>$Record.Financial_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Health_Reason__c</field>
            <value>
                <elementReference>$Record.Overall_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Health__c</field>
            <value>
                <elementReference>$Record.Overall_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Resources_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Resource_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Resources_Health2__c</field>
            <value>
                <elementReference>$Record.Resource_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Scope_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Scope_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Scope_Health2__c</field>
            <value>
                <elementReference>$Record.Scope_Health__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Timeline_Health2_Reason__c</field>
            <value>
                <elementReference>$Record.Timeline_Health_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Timeline_Health2__c</field>
            <value>
                <elementReference>$Record.Timeline_Health__c</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Happened</targetReference>
        </connector>
        <object>project_cloud__Ticket__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
