force-app/main/default/flows/CC_Utilization_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Exempt_Hours</name>
        <label>Assign Exempt Hours</label>
        <locationX>424</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>exemptHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Absences.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Absences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Utilized_Hours</name>
        <label>Assign Utilized Hours</label>
        <locationX>424</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>utilizedHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_Utilized_Hours.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Utilized_Hours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Resource_Record</name>
        <label>Check for Resource Record</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Absences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Resource_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resource_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Resource</targetReference>
            </connector>
            <label>No Resource Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Absences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lookup</targetReference>
            </connector>
            <label>Found Resource</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CC: Utilization - After - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Utilization - After - Create/Update</label>
    <loops>
        <name>Loop_thru_Absences</name>
        <label>Loop thru Absences</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Absences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Exempt_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Utilized_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Utilized_Hours</name>
        <label>Loop thru Utilized Hours</label>
        <locationX>336</locationX>
        <locationY>1439</locationY>
        <collectionReference>Get_Utilized_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Utilized_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Utilization</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Absences</name>
        <label>Get Absences</label>
        <locationX>336</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Absences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ccpe_r__Start__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ccpe_r__End__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Administration__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Absence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource</name>
        <label>Get Resource</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utilized_Hours</name>
        <label>Get Utilized Hours</label>
        <locationX>336</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Utilized_Hours</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ccpe_r__Start__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ccpe_r__End__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__Utilization_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__Utilization_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Billable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Work__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>project_cloud__Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Lookup</name>
        <label>Set Lookup</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Absences</targetReference>
        </connector>
        <inputAssignments>
            <field>Billable_Utilization_Target__c</field>
            <value>
                <elementReference>Get_Resource.Billable_Utilization_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Schedule__c</field>
            <value>
                <elementReference>Get_Resource.Job_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Card_Role__c</field>
            <value>
                <elementReference>Get_Resource.Rate_Card_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_Record__c</field>
            <value>
                <elementReference>Get_Resource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTE_Role__c</field>
            <value>
                <elementReference>Get_Resource.UTE_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Type__c</field>
            <value>
                <elementReference>Get_Resource.Work_Type_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Utilization</name>
        <label>Update Utilization</label>
        <locationX>336</locationX>
        <locationY>1739</locationY>
        <inputAssignments>
            <field>UTE_Role__c</field>
            <value>
                <elementReference>$Record.UTE_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utilization_Target__c</field>
            <value>
                <elementReference>$Record.Utilization_Target__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utilized_Hours__c</field>
            <value>
                <elementReference>utilizedHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccpe_r__Exempt_Hours__c</field>
            <value>
                <elementReference>exemptHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Resource_Record</targetReference>
        </connector>
        <object>ccpe_r__Utilization__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>exemptHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>utilizedHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
