force-app/main/default/flows/CC_Update_Estimated_Cost_Based_on_Pod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>ValueEurope</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe</stringValue>
        </value>
    </constants>
    <constants>
        <name>ValueEuropeTier1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe Tier 1</stringValue>
        </value>
    </constants>
    <constants>
        <name>ValueNorthAmerica</name>
        <dataType>String</dataType>
        <value>
            <stringValue>North America</stringValue>
        </value>
    </constants>
    <constants>
        <name>ValueRoW</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RoW</stringValue>
        </value>
    </constants>
    <constants>
        <name>ValueTraining</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Training</stringValue>
        </value>
    </constants>
    <constants>
        <name>ValueVerizon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Verizon</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Which_Pod</name>
        <label>Which Pod?</label>
        <locationX>842</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Europe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pod__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VariableEurope</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Estimated_Cost_for_Europe</targetReference>
            </connector>
            <label>Europe</label>
        </rules>
        <rules>
            <name>Europe_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pod__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValueEuropeTier1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Estimated_Cost_for_Europe_Tier_1</targetReference>
            </connector>
            <label>Europe Tier 1</label>
        </rules>
        <rules>
            <name>North_America</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pod__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValueNorthAmerica</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Estimated_Cost_for_North_America</targetReference>
            </connector>
            <label>North America</label>
        </rules>
        <rules>
            <name>RoW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pod__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValueRoW</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Estimated_Cost_for_RoW</targetReference>
            </connector>
            <label>RoW</label>
        </rules>
        <rules>
            <name>Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pod__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValueTraining</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Estimated_Cost_for_Training</targetReference>
            </connector>
            <label>Training</label>
        </rules>
        <rules>
            <name>Verizon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pod__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValueVerizon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Estimated_Cost_for_Verizon</targetReference>
            </connector>
            <label>Verizon</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaForEurope</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Budgeted_Hours__c} + {!$Record.Contingency_Hours__c}) * 72.69</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaForEuropeTier1</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Budgeted_Hours__c} + {!$Record.Contingency_Hours__c}) * 68.19</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaForNorthAmerica</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Budgeted_Hours__c} + {!$Record.Contingency_Hours__c}) * 88.25</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaForRoW</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Budgeted_Hours__c} + {!$Record.Contingency_Hours__c}) * 72.81</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaForTraining</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Budgeted_Hours__c} + {!$Record.Contingency_Hours__c}) * 83.63</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaForVerizon</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Budgeted_Hours__c} + {!$Record.Contingency_Hours__c}) * 111.19</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CC: Update Estimated Cost Based on Pod {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Update Estimated Cost Based on Pod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Estimated_Cost_for_Europe</name>
        <label>Update Estimated Cost for Europe</label>
        <locationX>50</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>FormulaForEurope</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Estimated_Cost_for_Europe_Tier_1</name>
        <label>Update Estimated Cost for Europe Tier 1</label>
        <locationX>314</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>FormulaForEuropeTier1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Estimated_Cost_for_North_America</name>
        <label>Update Estimated Cost for North America</label>
        <locationX>578</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>FormulaForNorthAmerica</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Estimated_Cost_for_RoW</name>
        <label>Update Estimated Cost for RoW</label>
        <locationX>842</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>FormulaForRoW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Estimated_Cost_for_Training</name>
        <label>Update Estimated Cost for Training</label>
        <locationX>1106</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>FormulaForTraining</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Estimated_Cost_for_Verizon</name>
        <label>Update Estimated Cost for Verizon</label>
        <locationX>1370</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>Estimated_Cost__c</field>
            <value>
                <elementReference>FormulaForVerizon</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Which_Pod</targetReference>
        </connector>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VariableEurope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Europe</stringValue>
        </value>
    </variables>
</Flow>
