force-app/main/default/flows/CC_Work_Link_Rev_Rec.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Billable_Hours</name>
        <label>Assign Billable Hours</label>
        <locationX>264</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>billableHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Billable_Hours.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Billable_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hours</name>
        <label>Assign Hours</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>hours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Hours</name>
        <label>Assigned Hours</label>
        <locationX>264</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>approvedHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Approved_Hours.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Approved_Hours</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Approved_Hours</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Approved Hours</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Billable_Hours</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Time_for_Day</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Billable_Hours.project_cloud__Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Billable_Hours</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Billable Hours</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Billable_Hours</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Time_for_Day</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Billable_Hours.ccpe_r__Utilization_Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Billable</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Approved_Hours</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>What_Happened</name>
        <label>What Happened?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rev_Rec_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Revenue_Recognition_CCPE_Ignore__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Time_for_Day</targetReference>
            </connector>
            <label>Rev Rec Set</label>
        </rules>
        <rules>
            <name>Rev_Rec_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Rev_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work</targetReference>
            </connector>
            <label>Rev Rec Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CC: Work - Link Rev Rec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Work - Link Rev Rec</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_All_Time_for_Day</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Billable_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Approved_Hours</name>
        <label>Loop Through Approved Hours</label>
        <locationX>176</locationX>
        <locationY>1763</locationY>
        <collectionReference>Approved_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Rev_Rec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Billable_Hours</name>
        <label>Loop Through Billable Hours</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <collectionReference>Billable_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Billable_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Approved_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Link_Rev_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Task__c</field>
            <value>
                <elementReference>$Record.project_cloud__Project_Task__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Amount__c</field>
            <value>
                <numberValue>1.0E-4</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Date__c</field>
            <value>
                <elementReference>$Record.Month_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Project__c</field>
            <value>
                <elementReference>$Record.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Revenue_Recognition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Rev_Rec</name>
        <label>Check for Existing Rev Rec</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Happened</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_Start__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_Task__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Revenue_Recognition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Time_for_Day</name>
        <label>Get All Time for Day</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billable_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Project_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_Task__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_Start__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Month_Start__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Rev_Rec</name>
        <label>Link Rev Rec</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_All_Time_for_Day</targetReference>
        </connector>
        <inputAssignments>
            <field>project_cloud__Revenue_Recognition_CCPE_Ignore__c</field>
            <value>
                <elementReference>Create_Records_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rev_Rec</name>
        <label>Update Rev Rec</label>
        <locationX>176</locationX>
        <locationY>2063</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Revenue_Recognition_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Hours__c</field>
            <value>
                <elementReference>hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Hours__c</field>
            <value>
                <elementReference>approvedHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billable_Hours__c</field>
            <value>
                <elementReference>billableHours</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Revenue_Recognition__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work</name>
        <label>Update Work</label>
        <locationX>132</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_All_Time_for_Day</targetReference>
        </connector>
        <inputAssignments>
            <field>project_cloud__Revenue_Recognition_CCPE_Ignore__c</field>
            <value>
                <elementReference>Check_for_Existing_Rev_Rec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Existing_Rev_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Administration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Project_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Work__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>approvedHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>billableHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_Billable_Hours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Work__c</objectType>
    </variables>
    <variables>
        <name>hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>monthlyUtilizationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>weeklyUtilizationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
