force-app/main/default/flows/CC_Work_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Rate</name>
        <label>Assign Existing Rate</label>
        <locationX>776</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>rateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rate_CCPE_Ignore__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Next_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Resource</name>
        <label>Assign Existing Resource</label>
        <locationX>776</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>resourceID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resource_Custom_CCPE_Ignore__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Next_Utilization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Utilizations</name>
        <label>Assign Existing Utilizations</label>
        <locationX>776</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>weeklyUtilizationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Weekly_Utilization_CCPE_Ignore__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthlyUtilizationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monthly_Utilization_CCPE_Ignore__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lookups</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billable_or_Exempt</name>
        <label>Billable or Exempt?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_to_Non_Billable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exempt</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Administration__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Absence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Exempt</targetReference>
            </connector>
            <label>Exempt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Next_Rate</name>
        <label>Evaluate Next: Rate</label>
        <locationX>644</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rate_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rate_CCPE_Ignore__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rate</targetReference>
            </connector>
            <label>Rate is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Next_Resource</name>
        <label>Evaluate Next: Resource</label>
        <locationX>644</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resource_Custom_CCPE_Ignore__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Resource</targetReference>
            </connector>
            <label>Found Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Next_Utilization</name>
        <label>Evaluate Next: Utilization</label>
        <locationX>644</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Utilizations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Utilization</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Monthly_Utilization_CCPE_Ignore__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_Utilization_CCPE_Ignore__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Weekly</targetReference>
            </connector>
            <label>No Utilization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Non_Billable_Time</name>
        <label>Non Billable Time</label>
        <locationX>644</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Next_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Billable_Time2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Non_Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Entry_to_Non_Billable</targetReference>
            </connector>
            <label>Non Billable Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Happened</name>
        <label>What Happened?</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Non_Billable_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admin_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Administration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billable_or_Exempt</targetReference>
            </connector>
            <label>Admin Time</label>
        </rules>
        <rules>
            <name>Utilization_Category_Inherited_from_Project_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Project_Task__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.project_cloud__Project_Task__r.ccpe_r__Utilization_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Project_Task_Category</targetReference>
            </connector>
            <label>Utilization Category: Inherited from Project Task</label>
        </rules>
        <rules>
            <name>Utilization_Category_Inherited_from_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Project_CCPE_Ignore__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.project_cloud__Project_CCPE_Ignore__r.ccpe_r__Utilization_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Project_Category</targetReference>
            </connector>
            <label>Utilization Category: Inherited from Project</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>billableorNon</name>
        <dataType>Boolean</dataType>
        <expression>IF(

TEXT({!$Record.project_cloud__Project_Task__r.ccpe_r__Utilization_Category__c}) = &apos;Non-Billable&apos;, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>CC: Work - After - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC: Work - After - Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Monthly</name>
        <label>Get Monthly</label>
        <locationX>512</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lookups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <object>ccpe_r__Utilization__c</object>
        <outputAssignments>
            <assignToReference>monthlyUtilizationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate</name>
        <label>Get Rate</label>
        <locationX>512</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Next_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccpe_r__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_CCPE_Ignore__c</elementReference>
            </value>
        </filters>
        <object>ccpe_r__Rate__c</object>
        <outputAssignments>
            <assignToReference>rateID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource</name>
        <label>Get Resource</label>
        <locationX>512</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Next_Utilization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>project_cloud__Resource__c</object>
        <outputAssignments>
            <assignToReference>resourceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Weekly</name>
        <label>Get Weekly</label>
        <locationX>512</locationX>
        <locationY>1931</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Monthly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccpe_r__End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Weekly</stringValue>
            </value>
        </filters>
        <object>ccpe_r__Utilization__c</object>
        <outputAssignments>
            <assignToReference>weeklyUtilizationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_to_Exempt</name>
        <label>Set to Exempt</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ccpe_r__Utilization_Category__c</field>
            <value>
                <stringValue>Exempt</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Non_Billable</name>
        <label>Set to Unutilized</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ccpe_r__Utilization_Category__c</field>
            <value>
                <stringValue>Unutilized</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Project_Category</name>
        <label>Set to Project Category</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Non_Billable_Time</targetReference>
        </connector>
        <inputAssignments>
            <field>ccpe_r__Utilization_Category__c</field>
            <value>
                <elementReference>$Record.project_cloud__Project_CCPE_Ignore__r.ccpe_r__Utilization_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Project_Task_Category</name>
        <label>Set to Project Task Category</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Non_Billable_Time</targetReference>
        </connector>
        <inputAssignments>
            <field>Non_Billable__c</field>
            <value>
                <elementReference>billableorNon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccpe_r__Utilization_Category__c</field>
            <value>
                <elementReference>$Record.project_cloud__Project_Task__r.ccpe_r__Utilization_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lookups</name>
        <label>Update Lookups</label>
        <locationX>644</locationX>
        <locationY>2231</locationY>
        <inputAssignments>
            <field>Monthly_Utilization_CCPE_Ignore__c</field>
            <value>
                <elementReference>monthlyUtilizationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_CCPE_Ignore__c</field>
            <value>
                <elementReference>rateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_Custom_CCPE_Ignore__c</field>
            <value>
                <elementReference>resourceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Utilization_CCPE_Ignore__c</field>
            <value>
                <elementReference>weeklyUtilizationID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Entry_to_Non_Billable</name>
        <label>Update Work Entry to Non Billable</label>
        <locationX>512</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Evaluate_Next_Rate</targetReference>
        </connector>
        <inputAssignments>
            <field>ccpe_r__Utilization_Category__c</field>
            <value>
                <stringValue>Non-Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Happened</targetReference>
        </connector>
        <object>project_cloud__Work__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>monthlyUtilizationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>weeklyUtilizationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
