force-app/main/default/flows/Create_Work_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>Emergency_off_hou</name>
        <choiceText>Emergency off hou</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emergency off hou</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal_case_handling</name>
        <choiceText>Normal case handling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal case handling</stringValue>
        </value>
    </choices>
    <choices>
        <name>Project_related</name>
        <choiceText>Project related</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project related</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Task</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Project_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <object>project_cloud__Project_Task__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>projectId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!ProjectLookup.recordId})</expression>
    </formulas>
    <interviewLabel>Create Work Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Work Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Record</name>
        <label>Create Work Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>NewRecordID</assignRecordIdToReference>
        <inputAssignments>
            <field>project_cloud__Case__c</field>
            <value>
                <elementReference>CurrentRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Comment__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Hours__c</field>
            <value>
                <elementReference>Hours_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>project_cloud__Project_CCPE_Ignore__c</field>
            <value>
                <elementReference>ProjectLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Work__c</object>
    </recordCreates>
    <screens>
        <name>Create_Timesheet_Entry</name>
        <label>Create Timesheet Entry</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Work_Record</targetReference>
        </connector>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hours_Number</name>
            <dataType>Number</dataType>
            <fieldText>Hours (Number)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Time_Criteria</name>
            <choiceReferences>Emergency_off_hou</choiceReferences>
            <choiceReferences>Project_related</choiceReferences>
            <choiceReferences>Normal_case_handling</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Time Criteria</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProjectLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>project_cloud__Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project_Task</name>
            <choiceReferences>Task</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project Task</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProjectLookup.recordId</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Timesheet_Entry</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
