force-app/main/default/flows/Opportunity_Product_Create_Project_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Off_Hours_Emergency_Task</name>
        <label>Assign Off Hours Emergency Task</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>supportCaseWork.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Off Hours Emergency</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.ccpe_r__Utilization_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Project_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Autonomous_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Project__r.ccpe_ocp__Opportunity__r.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Activities_Task</name>
        <label>Assign Renewal Activities Task</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>supportCaseWork.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal Activities</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.ccpe_r__Utilization_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Project_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Autonomous_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Project__r.ccpe_ocp__Opportunity__r.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sObject</name>
        <label>Assign sObject</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>projectTasksObject.project_cloud__Project_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectTasksObject.project_cloud__Autonomous_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectTasksObject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectTasksObject.project_cloud__Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>businessDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectTasksObject.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products.Opportunity_Product_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectTasksObject.project_cloud__Estimated_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PSLOEMH</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Support_Case_Task</name>
        <label>Assign Support Case Task</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>supportCaseWork.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support Case Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.ccpe_r__Utilization_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Project_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Autonomous_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Project__r.ccpe_ocp__Opportunity__r.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>projectTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>projectTasksObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>projectTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>supportCaseWork</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Support_Case_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Support_Case_Task</name>
        <label>Assign Meeting Task</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>supportCaseWork.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.ccpe_r__Utilization_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Project_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Autonomous_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Project__r.ccpe_ocp__Opportunity__r.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supportCaseWork.project_cloud__Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>projectTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>supportCaseWork</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>projectTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>supportCaseWork</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Renewal_Activities_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>projectTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>supportCaseWork</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Off_Hours_Emergency_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Maintenance_or_Managed_Services</name>
        <label>Maintenance or Managed Services?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Support_Case_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>businessDay</name>
        <dataType>Number</dataType>
        <expression>IF(
ISNULL({!Loop_Through_Products.POC_End_Date__c}), 1,

((5 * ( FLOOR( ( {!Loop_Through_Products.POC_End_Date__c} - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( {!Loop_Through_Products.POC_End_Date__c}  - DATE( 1900, 1, 8), 7 ) ) )
-
(5 * ( FLOOR( ( {!Loop_Through_Products.POC_Start_Date__c}- DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( {!Loop_Through_Products.POC_Start_Date__c} - DATE( 1900, 1, 8), 7 ) ) )) +1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>phaseNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.Name} = &quot;Maintenance&quot;, &quot;MT&quot;,
IF({!$Record.Name} = &quot;Managed Services&quot;, &quot;MS&quot;, {!$Record.Name}))</expression>
    </formulas>
    <formulas>
        <name>PSLOEMH</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Through_Products.PS_LOE_MD__c} * 8</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>IF(
ISNULL({!Loop_Through_Products.POC_Start_Date__c}), {!Loop_Through_Products.Opportunity.CloseDate}, {!Loop_Through_Products.POC_Start_Date__c})</expression>
    </formulas>
    <interviewLabel>Opportunity Product - Create Project Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - Create Project Task</label>
    <loops>
        <name>Loop_Through_Products</name>
        <label>Loop Through Products</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_sObject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Maintenance_or_Managed_Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <inputReference>projectTaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project__r.ccpe_ocp__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>phaseNameFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Revenue_Group__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>phaseNameFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Revenue_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <object>project_cloud__Project_Phase__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>projectTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>projectTasksObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>supportCaseWork</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Task__c</objectType>
    </variables>
</Flow>
