force-app/main/default/flows/Populates_Opportunity_Primary_TSA_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_5_A1</name>
        <label>Emails TSA Manager when no TSA Assigned</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.SALES_Emails_Jon_when_Primary_TSA_field_on_the_Opportunity_is_blank</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.SALES_Emails_Jon_when_Primary_TSA_field_on_the_Opportunity_is_blank</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Pull End Customer&apos;s Primary TSA</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Pull End Customer&apos;s Primary TSA</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_SDE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Reseller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TITAN Record Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Primary_TSA_Partner_Sales</targetReference>
            </connector>
            <label>TRUE_Pull End Customer&apos;s Primary TSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Pull Account&apos;s Primary TSA</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Pull Account&apos;s Primary TSA</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Primary_SDE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect/Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TITAN Record Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Primary_TSA_Direct_Sales</targetReference>
            </connector>
            <label>TRUE_Pull Account&apos;s Primary TSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>No Primary TSA in End Customer or Account</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>FALSE_No Primary TSA in End Customer or Account</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Primary_SDE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TITAN Record Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_No Primary TSA in End Customer or Account</label>
        </rules>
    </decisions>
    <description>Migrated from the Populates Opportunity.Primary TSA process using multiple criteria.
Auto-populates Opportunity.Primary TSA with Account.Primary TSA</description>
    <environments>Default</environments>
    <interviewLabel>OPP: Populates Opportunity Primary TSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPP: Populates Opportunity Primary TSA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Primary_TSA_Direct_Sales</name>
        <label>Populate Primary TSA - Direct Sales</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Primary_SDE__c</field>
            <value>
                <elementReference>$Record.Account.Primary_SDE__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Primary_TSA_Partner_Sales</name>
        <label>Populate Primary TSA - Partner Sales</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Primary_SDE__c</field>
            <value>
                <elementReference>$Record.End_Customer__r.Primary_SDE__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
