force-app/main/default/flows/Project_Baseline_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>projectTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Project_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Baseline_Estimated_Hours</name>
        <label>Set Baseline Estimated Hours</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Project_Tasks.Baseline_Estimated_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Project_Tasks.project_cloud__Estimated_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Project Baseline Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Baseline Set</label>
    <loops>
        <name>Loop_Through_Project_Tasks</name>
        <label>Loop Through Project Tasks</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Baseline_Estimated_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task_Baselines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Project_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_CASESAFEID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Project_Baseline_Fields</name>
        <label>Set Project Baseline Fields</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Baseline_Hours__c</field>
            <value>
                <elementReference>$Record.Total_MH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Baseline__c</field>
            <value>
                <elementReference>$Record.project_cloud__Calculated_End__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Baseline__c</field>
            <value>
                <elementReference>$Record.project_cloud__Calculated_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Baselines</name>
        <label>Update Task Baselines</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>projectTaskCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Project_Baseline_Fields</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Baseline_Lock__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date_Baseline__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date_Baseline__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>projectTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Task__c</objectType>
    </variables>
</Flow>
