force-app/main/default/flows/Project_Opp_Product_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Price</name>
        <label>Add Price</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>psAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_PS_SKUs.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PS_SKUs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rollups</name>
        <label>Assign Rollups</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>mhSOLD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hoursCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opp_Line_Items.Total_Cost2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_to_PS</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to PS</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNextValueToReference>currentItem_Filter_to_PS</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opp_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_PS.Product_Family_Text__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Professional Services</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_PS_SKUs</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>hoursCalc</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Through_Opp_Line_Items.PS_LOE_MD__c} * 8</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ratioSold</name>
        <dataType>Number</dataType>
        <expression>{!psAmount} / {!totalCost}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Project - Opp Product Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Opp Product Rollup</label>
    <loops>
        <name>Loop_Through_Opp_Line_Items</name>
        <label>Loop Through Opp Line Items</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Rollups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_to_PS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_PS_SKUs</name>
        <label>Loop Through PS SKUs</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>Filter_to_PS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opp_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Budgeted_Amount__c</field>
            <value>
                <elementReference>psAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOE_Cost_Sold__c</field>
            <value>
                <elementReference>totalCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_LOE_MH_Sold__c</field>
            <value>
                <elementReference>mhSOLD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ratio_Sold__c</field>
            <value>
                <elementReference>ratioSold</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_to_PS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>mhSOLD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>psAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
