force-app/main/default/flows/Quick_Case_Update_End_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Quick_Case</name>
        <label>Quick Case</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_End_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quick Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Customer</targetReference>
            </connector>
            <label>Update End Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndCustomerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}</expression>
    </formulas>
    <interviewLabel>Quick Case - Update End Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Case - Update End Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>End_Customer</name>
        <label>End Customer</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>End_Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quick_Case</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
