force-app/main/default/flows/Quote_Update_Status_based_on_Approval_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Approval_Status</name>
        <label>Approval Status</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_in_Review</targetReference>
            </connector>
            <label>Pending Status</label>
        </rules>
        <rules>
            <name>Approved_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approved</targetReference>
            </connector>
            <label>Approved Status</label>
        </rules>
        <rules>
            <name>Rejected_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rejected</targetReference>
            </connector>
            <label>Rejected Status</label>
        </rules>
        <rules>
            <name>Recalled_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Recalled</targetReference>
            </connector>
            <label>Recalled Status</label>
        </rules>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Draft</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Quote - Update Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Update Status based on Approval Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Record_Type_Name_Approved</name>
        <label>Record Type Name ( Approved )</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_Name_Deafult</name>
        <label>Record Type Name (Deafult)</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Name_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Draft</name>
        <label>Draft</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Name_Deafult.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approved</name>
        <label>Update Approved</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Name_Approved.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_in_Review</name>
        <label>Update in Review</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Name_Deafult.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rejected</name>
        <label>Update Rejected</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Name_Deafult.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Recalled</name>
        <label>Update to Recalled</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Name_Deafult.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Name_Deafult</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
