force-app/main/default/flows/Refresh_Project_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Hours</name>
        <label>Assign Hours</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>totalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Products.LOE_Quote_Total_MH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculatedCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phase_Collection</name>
        <label>Assign Phase Collection</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>phaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>phaseSobject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phase_Sobject</name>
        <label>Assign Phase Sobject</label>
        <locationX>528</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>phaseSobject.project_cloud__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phaseSobject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phaseNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>familyNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>phaseNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Products.LOE_Quote_Total_MH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calculatedCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Phase_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Skip</name>
        <label>Create or Skip</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Phase_Sobject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Don_t_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>familyNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>phaseNameFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hours</targetReference>
            </connector>
            <label>Don&apos;t Create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculatedCost</name>
        <dataType>Currency</dataType>
        <expression>({!Loop_Through_Products.Cost_Unit_MD__c} / 8) * {!Loop_Through_Products.LOE_Quote_Total_MH__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>phaseNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
{!Loop_Through_Products.Revenue_Group__c} = &quot;MT-SW&quot; || {!Loop_Through_Products.Revenue_Group__c} = &quot;MT-HW&quot;, &quot;Maintenance&quot;,
IF(
{!Loop_Through_Products.Revenue_Group__c} = &quot;MS&quot;, &quot;Managed Services&quot;,
{!Loop_Through_Products.Product_Family_Text__c} ))</expression>
    </formulas>
    <interviewLabel>Refresh Project Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refresh Project Data</label>
    <loops>
        <name>Loop_Through_Products</name>
        <label>Loop Through Products</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_or_Skip</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Phases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Phases</name>
        <label>Create Phases</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Update_Records_4</targetReference>
        </connector>
        <inputReference>phaseCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 or 5) AND 6</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Revenue_Group_Formula__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>MT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Revenue_Group_Formula__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>MS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Revenue_Group_Formula__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>PS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Revenue_Group_Formula__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PS-TE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Product_Family_Text__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Refresh_Task_Hours</name>
        <label>Refresh Task Hours</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Project_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Time_Refreshed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LOE</name>
        <label>Update LOE</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Level_of_Effort_Estimate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orders</name>
        <label>Update Orders</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Products</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_LOE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_4</name>
        <label>Retrigger Project Rollups</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Refresh_Task_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_TE_Completion_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.TE_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecasted_MS_Start_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.MS_Rev_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecasted_MT_Start_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.SW_MT_Rev_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecasted_TE_Start_Date__c</field>
            <value>
                <elementReference>Get_Opportunity.TE_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Milestones__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>familyNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Phase__c</objectType>
    </variables>
    <variables>
        <name>phaseSobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Project_Phase__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
