force-app/main/default/flows/Rollup_Hours_and_Costs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Approved_Hours</name>
        <label>Assign Approved Hours</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>approvedHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Approved_Hours.project_cloud__Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actualCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Approved_Hours.ccpe_r__Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Approved_Hours</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Approved_Hours</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Approved Hours</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Approved_Hours</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Work</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Approved_Hours.project_cloud__Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Approved_Hours</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Rollup Hours and Costs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Hours and Costs to Project</label>
    <loops>
        <name>Loop_Through_Approved_Hours</name>
        <label>Loop Through Approved Hours</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Approved_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approved_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work</name>
        <label>Get Work</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approved_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Project_CCPE_Ignore__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Approved_Hours__c</field>
            <value>
                <elementReference>approvedHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Costs_Actual__c</field>
            <value>
                <elementReference>actualCost</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Worked_Hours__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>actualCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>approvedHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Approved_Hours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Work__c</objectType>
    </variables>
</Flow>
