force-app/main/default/flows/Update_Assets_from_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Check_Master_Contract_on_Assets</name>
        <label>Check Master Contract on Assets</label>
        <locationX>1165</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>varAssets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssets.Master_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContracts.Master_Contract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Assets</name>
        <label>Collection Assets</label>
        <locationX>1147</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>CollectionAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Assets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract</name>
        <label>Check Contract</label>
        <locationX>599</locationX>
        <locationY>435</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_NOT_NULL</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Master_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Master_Contract__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Assets</targetReference>
            </connector>
            <label>Is NOT NULL</label>
        </rules>
    </decisions>
    <interviewLabel>Update Assets from Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Assets from Contracts</label>
    <loops>
        <name>Check_Assets</name>
        <label>Check Assets</label>
        <locationX>821</locationX>
        <locationY>440</locationY>
        <collectionReference>GetAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Master_Contract_on_Assets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Master_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>395</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>GetAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>SBQQ__OrderProduct__c</queriedFields>
        <queriedFields>CPQ_Order1__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>204</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Master_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>GetContracts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master_Contract__c</queriedFields>
        <queriedFields>SBQQ__Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Master_Contract</name>
        <label>Master Contract</label>
        <locationX>809</locationX>
        <locationY>706</locationY>
        <inputReference>CollectionAssets</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CollectionAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>GetAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>GetContracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varAssets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
