force-app/main/default/flows/Update_Master_Contract_on_Subsription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Check_Master_Contract_on_Subs</name>
        <label>Check Master Contract on Subs</label>
        <locationX>1868</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>varSubs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Subs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubs.Master_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContract.Master_Contract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Subs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Subs</name>
        <label>Collection Subs</label>
        <locationX>1868</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>CollectionSubs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSubs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Subs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Subscription</name>
        <label>Check Subscription</label>
        <locationX>1248</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_NOT_NULL</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Master_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Master_Contract__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Subs</targetReference>
            </connector>
            <label>Is NOT NULL</label>
        </rules>
    </decisions>
    <interviewLabel>Update Master Contract on Subsription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Master Contract on Subsription</label>
    <loops>
        <name>Check_Subs</name>
        <label>Check Subs</label>
        <locationX>1505</locationX>
        <locationY>323</locationY>
        <collectionReference>GetSubscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Master_Contract_on_Subs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>master_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>812</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscriptions_on_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Master_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>GetContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master_Contract__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscriptions_on_Contracts</name>
        <label>Get Subscriptions on Contracts</label>
        <locationX>935</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Subscription</targetReference>
        </connector>
        <object>SBQQ__Subscription__c</object>
        <outputReference>GetSubscriptions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Contract__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>master_Contract</name>
        <label>master Contract</label>
        <locationX>1503</locationX>
        <locationY>593</locationY>
        <inputReference>CollectionSubs</inputReference>
    </recordUpdates>
    <start>
        <locationX>1194</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CollectionSubs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>CollectionSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>GetContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>GetSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>varSubs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
</Flow>
